<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Home</title>
  </head>
  <style>
    .blink {
      font-size: 40px;
      font-weight: bold;
      color: white;
      animation: fadeDark 1s infinite alternate;
    }

    @keyframes fadeDark {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.2;
      }
    }
  </style>
  <body>
    <h1
      class="blink"
      style="text-align: center; margin-top: 20rem; color: blueviolet"
    >
      Welcome to the Rest Api server
    </h1>
  </body>
</html>
